<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update form</title>
</head>
<body>
   
    <form action="" method="POST">
        {% csrf_token %} 
        <input type="text" name= "fullname" id="fullname" placeholder="fullname">
        <input type="date"  name="dob"  id="dob" placeholder="dob">
        <input type="text"  name="nationality" id="nationality" placeholder="nationality">

        <button type="submit"> submit</button>
    </form>
</body>
</html>